<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <div>
      <label for="username">
        Username
      </label>
      <input id="username" type="text" formControlName="username">
    </div>
  
    <div>
      <label for="password">
        Password
      </label>
      <input id="password" type="text" formControlName="password">
    </div>
  
    <button color="accent" mat-button type="submit">Login</button>
  
  </form> -->

<div class="center">
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>

    <button color="primary" mat-raised-button type="submit">Login</button>

    <br>
    <br>
    <br>
    <mat-list role="list">
      <label class="code">Authentication Code </label>
      <mat-list-item role="listitem">{{authCode}}</mat-list-item>
      <label class="code">Access Token </label>
      <mat-list-item role="listitem">{{accessToken}}</mat-list-item>
      <!--label class="code">Client Data </label-->
      <label hidden id="user_details">{{userdetails}}</label>
      <input disabled=true onclick="Android.showToast(document.getElementById('user_details').innerText);F" id="btn"
        type="button" value="Get User Details" />
    </mat-list>

  </form>

</div>